*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Home{
    font-size: 60px;
    font-weight: bolder;
    background: none;
    color: white;
    border: none;
    border-radius: 10px;
    border-width: 3px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    transition: opacity 0.1s;
    padding-left: 5px;
    padding-right: 5px;

}
.Home:hover{
    opacity: 0.7;
}
.Home:active{
    opacity: 0.3;
}
.home-button{
    white-space: nowrap; /* Prevents button text from wrapping */
    min-width: auto; /* Allows button to shrink if necessary */
    font-size: 20px;
    font-size: 50px;
    font-weight: bold;
    border: none;
    background: none;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    transition: opacity 0.1s;
}
.home-button:hover{
    opacity: 0.7;
}
.home-button:active{
    opacity: 0.3;
}
.about-button{
    white-space: nowrap; /* Prevents button text from wrapping */
    min-width: auto; /* Allows button to shrink if necessary */
    font-size: 20px;
    font-size: 50px;
    font-weight: bold;
    border: none;
    background: none;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    transition: opacity 0.1s;
}
.about-button:hover{
    opacity: 0.7;
}
.about-button:active{
    opacity: 0.3;
}
.r-button{
    white-space: nowrap; /* Prevents button text from wrapping */
    min-width: auto; /* Allows button to shrink if necessary */
    font-size: 20px;
    font-size: 50px;
    font-weight: bold;
    border: none;
    background: none;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    transition: opacity 0.1s;
}
.r-button:hover{
    opacity: 0.7;
}
.r-button:active{
    opacity: 0.3;
}
.outerbox{
    display: flex;
    background-color: rgba(172, 255, 47, 0.36);
    height: min-content;
    width:  min-content;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    align-items: center;
    margin-left: 100px;
    background-blend-mode: multiply ;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubble{
    position: relative;
    display: flex;
}
.bubble span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 4;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px whitesmoke,
    0 0 100px whitesmoke;
    animation: animate 15s linear infinite;
    animation-duration: calc(175s/var(--i));
}
@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}
.title{
    font-size: 5em;
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-140%);
    color: aliceblue;
}
.title2{
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
    color: aliceblue;
}
.about-what{
    font-style: italic;
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
    font-weight: 900;
    position: absolute;
    transform: translateX(150%) translateY(50%);
}
.about-whatp{
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 26px;
    color: white;
    font-weight:bolder;
    word-spacing: 10px;
}
.about-aim{
    background-color: rgba(169, 169, 169, 0.12);
    opacity: 0.9;
    height: min-content;
    width: 700px;
    border-radius: 20px;
}
.meaning{
    font-family:Amasis MT Pro;
    background-color: rgba(169, 169, 169, 0.12);
    opacity: 0.9;
    height: min-content;
    width: 700px;
    border-radius: 20px;
}
.about-whatp::first-line{
    font-style: italic;
}
.container1{
    display: flex;
    column-gap: 100px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 200px;
}
.about-whath{
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-weight: 900;
}
.about-aimh{
    font-size: 40px;
    text-align: center;
    color: white;
    text-decoration: underline;
    font-weight: 900;
}
.about-aimp{
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 26px;
    color: white;
    font-weight: bolder;
}
.ending{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    font-size: 26px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.container2{
    display: flex;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    column-gap: 50px;
}
.recycle{
    background-color: rgba(169, 169, 169, 0.12);
    opacity: 0.9;
    height: 550px;
    width: 550px;
    border-radius: 20px;
}
.reuse{
    background-color: rgba(169, 169, 169, 0.12);
    height: 550px;
    opacity: 0.9;
    width: 550px;
    border-radius: 20px;
}
.repurpose{
    background-color: rgba(169, 169, 169, 0.12);
    height: 550px;
    width: 550px;
    opacity: 0.9;
    border-radius: 20px;
}
.head{
    font-size: 50px;
    font-style: italic;
    color: white;
    font-weight: bolder;
    text-align: center;
    text-decoration: underline;
}
.r-paragraph{
    color: aliceblue;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-align:center;
}
.recycle-img{
    width: 300px;
    height: 300px;
    align-self: center;
    padding-left: 120px;
}.reuse-img{
    width: 270px;
    height: 270px;
    align-self: center;
    padding-left: 150px;
}
.rep-img{
    width: 450px;
    height: 230px;
    align-self: center;
    padding-left: 50px;
}
.html-logo{
    width: 300px;
    height: 300px;
    align-self: left;
    padding-left: 120px;
    transform: translateX(20%) translateY(-200%);
}
.css-logo{
    width: 400px;
    height: 300px;
    align-self: center;
    padding-left: 100px;
    transform: translateX(35%) translateY(-210%);
}
.open-logo{
    width: 550px;
    height: 400px;
    align-self: right;
    padding-left: 100px;
    transform: translateX(35%) translateY(-160%);
}
.container3{
    display: flex;
    column-gap: 200px;
    padding-left: 200px;
    padding-top: 150px;
}
.chatbot-use{
    background-color: rgba(169, 169, 169, 0.12);
    opacity: 1;
    height: 550px;
    width: 700px;
    border-radius: 20px;
}
.github{
    background-color: rgba(169, 169, 169, 0.12);
    opacity: 1;
    height: 550px;
    width: 700px;
    border-radius: 20px;
}
.use-head{
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
}
.more{
    color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 50px;
    text-align: center;
    transform: translateX(50%) translateY(100%);
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px ;
    padding-bottom: 10px;
    border: none;
    font-weight: bold;
    transition: background-color 0.4s,
    color 0.4s;
}
.more:hover{
    background-color: white;
    color: black;
}
.more:active{
    opacity: 0.3;
}
.ai{
    color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 50px;
    text-align: center;
    transform: translateX(65%) translateY(100%);
    padding-left: 15px;
    padding-top: 15px;
    padding-right:15px ;
    padding-bottom: 10px;
    border: none;
    font-weight: bold;
    transition: background-color 0.4s,
    color 0.4s;
}
.ai:hover{
    background-color: white;
    color: black;
}
.ai:active{
    opacity: 0.3;
}
.ai-head{
    font-size: 70px;
    text-align: center;
    color: aliceblue;
    font-weight: 900;
    text-decoration: underline;
}
.step1-img{
    width: 50%;
    height: 50%;
}
.ai-paragraph{
    font-size: 25px;
    color: aliceblue;
    font-weight: bold;
}
.ending1{
    font-size: 30px;
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}
.step1-img1{
    width: 50%;
    height: 50%;
    padding-left: 470px;
}
.container4{
    display: flex;
}